[submodule "PoCs/initroot"]
	path = PoCs/initroot
	url = https://github.com/alephsecurity/initroot.git
[submodule "tools/abootool"]
	path = tools/abootool
	url = https://github.com/alephsecurity/abootool
	branch = master
